
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    color: gold;
}
section {
    padding: 75px 0 75px 0;
    text-align: center;
    border: 1px solid red;
    background-color: aqua;
}

.container {
    border: 1px solid teal;
    margin: 0 auto;
    max-width: 1440px;
}
.section-title{
    position: relative;
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    /* or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: left;

    color: #FFFFFF;
}

.section-title-gold {
    color: #9D8665;
}
.txt-content {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    text-align: left;
    color: #FFFFFF;
}
img {
    padding: 0;
    margin: 0;
}
.explore-section {
    background-color: #000;
}
.video-section {
    background-color: #fff;
}