
.welcome-section {
    padding: 0;
}

.welcome-container {
    height: 810px;
    position: relative;
}
.img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
/*    background-image: url("/assets/png/welcome_img.png");
    background-repeat: no-repeat;*/
    width: 1000px;
    height: 750px;
    background-size: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 70%),
                no-repeat,
                url("/assets/png/welcome_img.png");

    /*
    background: linear-gradient(to left, #000000 0%, #FFFFFF 100%);
    */
    /*
    border: 5px solid red;
    */

}