@font-face {
    font-family: Roboto;
     src: url("assets/fonts/Roboto.ttf");
   }

@font-face {
       font-family: Roboto;
       src: url("assets/fonts/RobotoThin.ttf");
       font-weight: 100;
   }

@font-face {
       font-family: Roboto;
       src: url("assets/fonts/RobotoRegular.ttf");
       font-weight: 300;
   }

* {
    margin: 0px, auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: #000;
}
.header-container {



    color: white;
    border: 1px solid greenyellow;

}

.logo {
    background-image: url("/assets/svg/logo.svg");
    background-repeat: no-repeat;
            /* background-position-y: center; */
}

h1 {
    margin: 0px 0px 0px 70px;
    text-transform: uppercase;
    border: 1px solid yellow;
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;

letter-spacing: 5px;
text-transform: uppercase;
}
section {
    padding: 75px 0px 75px 0px;
    text-align: center;
    border: 1px solid red;
    background-color: aqua;
}

.container {
    border: 1px solid black;
    margin: 0 auto;
    /* width: 1440px; */
    max-width: 1440px;
}